<% include ./partials/header %>

<div class="jumbotron" id="home-jumbotron">	
	<div id="header">
		<h4 id="section"></h4>
		<h2 id="intro"></h2>
		<p id="detail"></p>
		<a href="#" class="btn btn-default" id="learn-more">Learn more</a>
	</div>
	<div id="tab-menu">
		<div class="row">
			<button class="col-md-3 col-sm-12 col-xs-12 tab-menu-obj" id="about-me">
				<img src="/images/about-me.webp" class="icon" width="40" height="40">
				<h3 id="tab-menu-header">About Me</h3>
			</button>	
			<button class="col-md-3 col-sm-12 col-xs-12 tab-menu-obj" id="projects">
				<img src="/images/projects.webp" class="icon" width="40" height="40">
				<h3 id="tab-menu-header">Projects</h3>
			</button>	
			<button class="col-md-3 col-sm-12 col-xs-12 tab-menu-obj" id="inspiration">
				<img src="/images/inspiration.webp" class="icon" width="40" height="40">
				<h3 id="tab-menu-header">Inspiration?</h3>
			</button>	
			<button class="col-md-3 col-sm-12 col-xs-12 tab-menu-obj" id="contact">
				<img src="/images/contact.webp" class="icon" width="40" height="40">
				<h3 id="tab-menu-header">Contact</h3>
			</button>	
		</div>
	</div>
	<div class="header-overlay"></div>
</div>

<% include ./partials/about %>

<div class="container" id="showcase">

	<h3 id="projects-sub-title">Latest work</h3>

	<h3 id="projects-title">My Projects</h3>

	<div class="card-columns">
		<% projects.slice(0, 6).forEach(function(project) {%>
	 	<div class="card" data-aos="fade-down" data-aos-once="true">
		    <div id="img-container">
		    	<img class="card-img-top img-fluid" src="<%= project.image %>" alt="Card image cap" align="middle">
		    	<a href="<%= project.url %>"><div class="img-overlay"></div></a>
		    </div>
		    <div class="card-block">
		    	<h3 class="card-category"><%= project.category %></h3>
		      	<h3 class="card-title"><%= project.title %></h3>
		      	<div class="card-hr"></div>
		      	<p class="card-text"><%= project.content %></p>
		    </div>
	  	</div>
	  	<% }); %>	 
	</div>
</div>

<script type="text/javascript" src="/scripts/home.js"></script>

<% include ./partials/footer %>