<% include ../partials/header %>

<div class="jumbotron">	
	<div class="container" id="header">
		<h2 id="intro">Welcome to all my projects</h2>
		<p id="detail">Let's have a look at them</p>
	</div>
	<div class="header-overlay"></div>
</div>

<div class="container" id="showcase">

	<h3 id="projects-sub-title">Latest work</h3>

	<h3 id="projects-title">My Projects</h3>

	<div class="card-columns">
		<% projects.forEach(function(project) {%>
	 	<div class="card" data-aos="fade-down" data-aos-once="true">
		    <div id="img-container">
		    	<img class="card-img-top img-fluid" src="<%= project.image %>" alt="Card image cap" align="middle">
		    	<div class="img-overlay"></div>
		    </div>
		    <div class="card-block">
		      <h3 class="card-category"><%= project.category %></h3>
		      <h3 class="card-title"><%= project.title %></h3>
		      <div class="card-hr"></div>
		      <p class="card-text"><%= project.content %></p>
		    </div>
	  	</div>
	  	<% }); %>

	  	<% projects.forEach(function(project) {%>
	 	<div class="card" data-aos="fade-down" data-aos-once="true">
		    <div id="img-container">
		    	<img class="card-img-top img-fluid" src="<%= project.image %>" alt="Card image cap" align="middle">
		    	<div class="img-overlay"></div>
		    </div>
		    <div class="card-block">
		      <h3 class="card-category"><%= project.category %></h3>
		      <h3 class="card-title"><%= project.title %></h3>
		      <div class="card-hr"></div>
		      <p class="card-text"><%= project.content %></p>
		    </div>
	  	</div>
	  	<% }); %>
	 
	</div>
</div>

<script type="text/javascript" src="/scripts/others.js"></script>

<% include ../partials/footer %>